<div fxFlexFill fxLayout="column" fxLayoutAlign="center center">
  <md-card>
    <md-card-header>
      Account Settings
    </md-card-header>
    <md-card-content>
      <form fxLayout="column" fxLayoutGap="10px" [formGroup]="settingsForm" novalidate (submit)="saveUserInfo()" *ngIf="lgUser && user">
        <md-input-container>
          <input mdInput placeholder="First Name" type="text" formControlName="firstname" value="{{lgUser?.fname}}">
          <md-hint
            *ngIf="settingsForm.controls['firstname'].hasError('minlength') && settingsForm.controls['firstname'].touched"
            class="errorHints">First Name must be longer than 2 characters.
          </md-hint>
        </md-input-container>
        <md-input-container>
          <input mdInput placeholder="Last Name" type="text" formControlName="lastname" value="{{lgUser?.lname}}">
          <md-hint
            *ngIf="settingsForm.controls['lastname'].hasError('minlength') && settingsForm.controls['lastname'].touched"
            class="errorHints">Last Name must be longer than 2 characters.
          </md-hint>
        </md-input-container>
        <!--
        <div fxLayout="column" fxLayoutGap="10px" formGroupName="matchingPassword">
          <md-input-container>
            <input mdInput placeholder="Change Password" type="password" formControlName="password">
            <md-hint
              *ngIf="matchingPassword.controls['password'].hasError('required') && matchingPassword.controls['password'].touched"
              class="errorHints">A password is required.
            </md-hint>
            <md-hint
              *ngIf="!matchingPassword.controls['password'].hasError('minlength') && !matchingPassword.controls['password'].hasError('required') && matchingPassword.controls['password'].touched && matchingPassword.controls['password'].hasError('pw')"
              class="errorHints">Must contain at least 1 lowercase, 1 uppercase, 1 number, and 1 symbol of $@!%*?&( or )
            </md-hint>
            <md-hint
              *ngIf="matchingPassword.controls['password'].hasError('minlength') && matchingPassword.controls['password'].touched && !matchingPassword.controls['password'].hasError('required')"
              class="errorHints">The password must be at least 8 characters long.
            </md-hint>
          </md-input-container>

          <md-input-container>
            <input mdInput placeholder="Confirm Password" type="password" formControlName="cpassword">
            <md-hint
              *ngIf="matchingPassword.controls['cpassword'].hasError('required') && matchingPassword.controls['cpassword'].touched"
              class="errorHints">This field is required.
            </md-hint>
            <md-hint
              *ngIf="matchingPassword.controls['password'].touched && settingsForm.controls['matchingPassword'].hasError('mismatch') && !matchingPassword.controls['cpassword'].hasError('required')"
              class="errorHints">Both passwords must match.
            </md-hint>
          </md-input-container>
        </div>
        -->
        <button md-button type="button" (click)="resetPassword()">Reset Password</button>
        <md-card-actions fxLayout="row" fxLayoutAlign="center center">
          <button md-button md-tooltip="Save" [mdTooltipShowDelay]="500" type="submit"
                  [disabled]="(settingsForm.controls['firstname'].value === lgUser.fname || settingsForm.controls['firstname'].value === '') && (settingsForm.controls['lastname'].value === lgUser.lname || settingsForm.controls['lastname'].value === '')">Save
          </button>
        </md-card-actions>

      </form>
      <p *ngIf="user == null">
        <br>
        Please sign in to view this page.
      </p>
    </md-card-content>
  </md-card>
</div>
