<md-card>
  <md-card-header  fxLayout="row">
    <app-profile-image md-card-avatar class="profile_image" [src]="aboutUser.image" [editMode]="editMode" *ngIf="noImg === false"></app-profile-image>
    <md-card-title>
      <div>
        {{aboutUser.fname}} {{aboutUser.lname}}
      </div>
    </md-card-title>
    <div fxFlex></div>
    <div *ngIf="showEditBtn === true">
      <button md-button (click)="editSaveBtn()">{{editBtnText}}</button>
    </div>
    <md-card-subtitle>

      <app-text-input #job [editMode]="editMode" [type]="'text'" [text]="aboutUser.job" [placeholder]="'Job'" [maxlength]="20" (value)="job" (notify)="updateUserProperties('job', $event)" (enter)="submit()"></app-text-input>
      <span *ngIf="aboutUser.company"> @ </span>
      <app-text-input #company [editMode]="editMode" [type]="'text'" [text]="aboutUser.company" [placeholder]="'Company'" [maxlength]="20" (value)="company" (notify)="updateUserProperties('company', $event)" (enter)="submit()"></app-text-input>

    </md-card-subtitle>
  </md-card-header>

  <md-card-content>
    <div fxLayout="row" fxLayoutGap="10px">
      <div fxFlex>
        <span *ngIf="editMode === false">Bio:</span>
        <p *ngIf="aboutUser.bio" class="bio">
          <app-text-input #bio [editMode]="editMode" [type]="'textarea'" [text]="aboutUser.bio" [placeholder]="'Bio'" [maxlength]="200" (value)="bio" (notify)="updateUserProperties('bio', $event)" (enter)="submit()"></app-text-input>
        </p>
        <p *ngIf="!aboutUser.bio">
          <app-text-input #bio [editMode]="editMode" [type]="'textarea'" [text]="aboutUser.fname + ' has not entered a bio yet :('" [placeholder]="'Bio'" [maxlength]="200" (value)="bio" (notify)="updateUserProperties('bio', $event)" (enter)="submit()"> </app-text-input>
        </p>
      </div>

      <div>
        <a *ngIf="aboutUser.resumeLink" href="{{aboutUser.resumeLink}}"><button md-raised-button>Résumé</button></a>
      </div>
    </div>

  </md-card-content>
  <md-card-actions>

    <div fxLayout="row" fxLayoutAlign="space-around center">
      <app-social-link [editMode]="editMode" type="instagram" [link]="aboutUser.instagram" (notify)="updateUserProperties('instagram', $event)"></app-social-link>
      <app-social-link [editMode]="editMode" type="facebook" [link]="aboutUser.facebook" (notify)="updateUserProperties('facebook', $event)"></app-social-link>
      <app-social-link [editMode]="editMode" type="youtube" [link]="aboutUser.youtube" (notify)="updateUserProperties('youtube', $event)"></app-social-link>
      <app-social-link [editMode]="editMode" type="twitter" [link]="aboutUser.twitter" (notify)="updateUserProperties('twitter', $event)"></app-social-link>
      <app-social-link [editMode]="editMode" type="twitch" [link]="aboutUser.twitch" (notify)="updateUserProperties('twitch', $event)"></app-social-link>
      <app-social-link [editMode]="editMode" type="linkedin" [link]="aboutUser.linkedin" (notify)="updateUserProperties('linkedin', $event)"></app-social-link>
    </div>
    <div *ngIf="editMode === true">
      Click to add or edit social links
    </div>
  </md-card-actions>
</md-card>
