<div fxFlex fxLayout="column" fxLayoutGap="10px" fxLayoutAlign="center center">
  <md-card>
    <md-card-header>
      <div md-card-avatar class="profile_image"></div>
      <md-card-title>Landon Gavin</md-card-title>
      <md-card-subtitle>Web Developer @ nullspace</md-card-subtitle>
    </md-card-header>
    <md-card-content>
      <div fxLayout="row">
        <p>
          Hey, it's Landon!
        </p>
        <div fxFlex></div>
        <a href="https://docs.google.com/document/d/1rrXxb49hCf2vCCCFtpHfSjXWcvKFzSxUsv011neIeZ8"><button md-raised-button>Resume</button></a>
      </div>

    </md-card-content>
    <md-card-actions>
      <a href="https://www.instagram.com/happily_null/"><button md-icon-button><i class="mdi mdi-24px mdi-instagram icon"></i></button></a>
      <a href="https://www.facebook.com/landon.gavin"><button md-icon-button><i class="mdi mdi-24px mdi-facebook-box icon"></i></button></a>
      <a href="https://www.youtube.com/LandonGavin"> <button md-icon-button><i class="mdi mdi-24px mdi-youtube-play icon"></i></button></a>
      <a href="https://twitter.com/seriouslag"><button md-icon-button><i class="mdi mdi-24px mdi-twitter-box icon"></i></button></a>
      <a href="https://www.twitch.tv/someseriouslag"><button md-icon-button><i class="mdi mdi-24px mdi-twitch icon"></i></button></a>
      <a href="https://www.linkedin.com/in/landon-gavin-31849433"> <button md-icon-button><i class="mdi mdi-24px mdi-linkedin-box icon"></i></button></a>
    </md-card-actions>
  </md-card>

</div>
