:host(app-splash-page) {
  justify-content: center;
  align-items: center;
  color: #000000;
  text-transform: uppercase;
  font-family: Roboto,
  -apple-system,
  BlinkMacSystemFont,
  "Segoe UI",
  Oxygen-Sans,
  Ubuntu,
  Cantarell,
  Helvetica,
  sans-serif;
  font-size: 2.5em;
  text-shadow: 2px 2px 10px rgba(0, 0, 0, 0.2);
  overflow: hidden;
}

.wrapper {
  justify-content: center;
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top:125px

}

.wrapper div {
  display: flex;
}

img {
  width: 100px;
  height: 75px;
}

body {
  overflow: hidden;
}

@keyframes dots {
  50% {
    transform: translateY(-.4rem);
  }
  100% {
    transform: translateY(0);
  }
}

.bottom {
  margin-bottom: 15px;
}

.d {
  display: flex;
  animation: dots 1.5s ease-out infinite;
  line-height: 1em;
  margin: 5px;
}

.d-2 {
  animation-delay: .5s;
}

.d-3 {
  animation-delay: 1s;
}
