<div class="wrapper">
  <div class="bottom">
    <span class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span>
  </div>
  <br>
  <md-card>
    SPLASH SPLASH
  </md-card>
  <br>
  <div>
    <span class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2">.</span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span class="d"><img src="../../../assets/images/doge.gif"></span><span class="d d-2"><img src="../../../assets/images/doge.gif"></span><span
    class="d d-3"><img src="../../../assets/images/doge.gif"></span>
  </div>
</div>
