<h1 md-dialog-title *ngIf="!customText">Are you sure you want to do this?</h1>
<h1 md-dialog-title *ngIf="customText">{{customText}}</h1>
<button md-button md-tooltip="Cancel" [mdTooltipShowDelay]="500" color="primary" (click)="cancel()"
        class="cancel">
  <md-icon>close</md-icon>
  <span *ngIf="showButtonText">Cancel</span>
</button>
<button md-button md-tooltip="Confirm" [mdTooltipShowDelay]="500" (click)="confirm()" class="confirm">
  <md-icon>check</md-icon>
  <span *ngIf="showButtonText">Confirm</span>
</button>
