app-root:host {
  display: block;
}

.app_wrapper {
  min-height: 100vh;
  display: block;
  background: #ffffff url("../assets/images/background.jpg") no-repeat fixed center;
  background-size: cover;
}


.header {
  height: 75px;
  width: 100%;
  padding: 10px;
  z-index: 999;
}

.content_wrapper {
}

.router_wrapper {
  padding-bottom: 75px;
}

.menu {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
}
