app-root:host {
  display: block;
  min-height: 100vh;
}

.app_wrapper {
  display: block;
  background-color: transparent;
  z-index: 1;
}

.background {
  z-index: -1;
  position: fixed;
  left: 0;
  top: 0;
  /*
    background: #ffffff url("../assets/images/background.jpg") no-repeat fixed center;
  */
  background-size: cover;
  min-height: 100vh;
  min-width: 100vw;
  background: #FAF9F5;
}



.header {
  height: 75px;
  width: 100%;
  padding: 10px;
  z-index: 999;
}

.router_wrapper {
  padding-bottom: 75px;
}

.menu {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
}
