<md-accordion #login_component>
  <md-expansion-panel (opened)="loginOpened()" [expanded]="closedLogin">
    <md-expansion-panel-header>
      <md-panel-title>
        Login
      </md-panel-title>
    </md-expansion-panel-header>

    <md-form-field>
      <input mdInput placeholder="Username" type="text">
    </md-form-field>

    <md-form-field>
      <input mdInput placeholder="Password" type="password">
    </md-form-field>

    <md-action-row>
      <div fxLayout="row" fxFlexFill>
        <button md-button (click)="closeLogin()">Cancel</button>
        <button md-button (click)="openSnackBar()">Login</button>
      </div>
    </md-action-row>
  </md-expansion-panel>
</md-accordion>
