:host(app-login) {
  max-width: 250px;
  z-index: 999;
  overflow: auto;
}

md-expansion-panel {
  overflow-y: auto;
  overflow-x: hidden;
  max-height: 90vh;
}

.required {
  color: red;
  font-size: .7em;
}

.errorHints {
  color: red;
}
