<button mat-raised-button [matMenuTriggerFor]="menu" class="menu">
  <mat-icon>more_vert</mat-icon>
</button>

<mat-menu #menu="matMenu">
  <a mat-menu-item routerLink="/home">
    <mat-icon>home</mat-icon>
    <span>Home</span>
  </a>
  <a mat-menu-item routerLink="/about">
    <mat-icon>sentiment_neutral</mat-icon>
    <span>About</span>
  </a>
  <button mat-menu-item [matMenuTriggerFor]="projectMenu">
    <mat-icon>extension</mat-icon>
    <span>Projects</span>
  </button>
  <!--<button mat-menu-item [matMenuTriggerFor]="mediaMenu">
    <mat-icon>video_library</mat-icon>
    <span>Media</span>
  </button>-->

</mat-menu>

<mat-menu #projectMenu="matMenu">
  <a href="http://www.chiefsretro.com" mat-menu-item>Chiefsretro.com</a>
  <a href="https://github.com/seriouslag" mat-menu-item>My Github</a>
</mat-menu>

<!--<mat-menu #mediaMenu="matMenu">
  <a href="http://www.seriouslag.com:32400/" target="_blank" rel="nofollow noreferrer noopener" mat-menu-item>Plex</a>
  <a href="http://www.seriouslag.com:9001/" target="_blank" rel="nofollow noreferrer noopener" mat-menu-item>QBT</a>
</mat-menu>-->
