.blogPost {
}

.videoContainer {
  width: 100%;
  height: 300px;
}

.blogImage {
  max-height: 450px;
  max-width: 450px;
}

.blogImageXSmall {
  max-height: 300px;
  max-width: 200px;
}

.blogImageSmall {
  max-height: 400px;
  max-width: 350px;
}

.blogImageMed {
  max-width: 400px;
  max-height: 400px;
}

.blogImageLarge {
  max-height: 600px;
  max-width: 600px;
}

.blogVideo {
  max-height: 100%;
  object-fit: cover;
}
