<div fxLayout="row" fxLayoutAlign="center center">
  <div fxFlex></div>
  <div fxLayout="column" fxLayoutGap="10px" >
    <mat-card *ngFor="let blog of blogList" class="blogPost">
      <mat-card-title>
        {{blog.title}}
      </mat-card-title>
      <mat-card-subtitle>
        {{blog.subtitle}}
      </mat-card-subtitle>
      <div fxLayout="row" fxLayoutAlign="centet center">
        <div fxFlex></div>
        <div class="videoContainer" *ngIf="blog.hasVideo">
          <video poster="{{blog.image}}" preload="auto" muted loop autoplay class="blogVideo">
            <source src="{{blog.image}}" type="video/{{blog.videoType}}">
          </video>
        </div>
        <img src="{{blog.image}}" *ngIf="!blog.hasVideo && blog.image.length>0"
          [ngClass]="{'blogImageLarge': cardSize === 3, 'blogImageMed': cardSize === 2, 'blogImageSmall': cardSize === 1, 'blogImageXSmall': cardSize === 0}"
        >
        <div fxFlex></div>
      </div>
      <mat-card-content>
        {{blog.content}}
      </mat-card-content>
      <mat-card-footer>
        {{blog.footer}}
      </mat-card-footer>
    </mat-card>
  </div>

  <mat-card *ngIf="waiting === true || failed === true">
    <mat-spinner *ngIf="waiting === true && failed === false"></mat-spinner>
    <mat-card-content *ngIf="waiting === false && failed === true">
      User was not found.
      <br>
      <button md-button routerLink="/home" color="primary">Home</button>
    </mat-card-content>

  </mat-card>
  <div fxFlex></div>
</div>
